.main{
    padding-top: 5em;
    padding-left: 3em;
    padding-right: 3em;
}

#content {
    width: 500px;
    height:auto;
    float: left;
}

#sidebar {
    width: 200px;
    height:auto;
    float:left;
}

.s34{
    padding-right: 30px;
    padding-left: 25px;
    float: left;
    width: 25%;
}

.menu{
    margin-bottom: 15px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
}

.menu-heading{
    display: block;
    padding: 8px 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: #586069;
    background-color: #f3f5f8;
    border-bottom: 1px solid #e1e4e8;
}

.active{
    font-weight: 800;
    color: #24292e;
    cursor: default;
    background-color: #c4c4c4;
}

.nav-item{
    position: relative;
    display: block;
    padding: 8px 10px;
    border-bottom: 1px solid #e1e4e8;
}

nav a{
    color: #0366d6;
    text-decoration: none;
    font-size: 13px;
}

a:hover{
    background-color: #e2e2e2;
}


body{
    word-wrap: break-word;
}

.control-error{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0ms 1.9s,opacity 1.9s ease-in-out;
    -webkit-transition: visibility 0ms 1.9s,opacity 1.9s cubic-bezier(0.42, 0, 0.93, 0.93);
}

.btn{
    border-radius: 6px;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
}


span a{
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
    text-decoration: none;
}


#d1{
    color: white;
    background-color: #0f10c8;
}

#d2{
    color: white;
    background-color: #cf2c33;
}

#d1:hover{
    background-color: #0366d6;
}

#d2:hover{
    background-color: #d0614a;
}

.controls{
    padding-top: 1.5em;
    padding-bottom: .5em;
}